{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-2">
            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <h2 class="text-center">
                    ALREADY RESIGTERED?
                </h2>
                {% for field in form %}
                    <div class="form-group" style="margin-top: 25px;">
                        <label for="id_{{ field.name }}" style="font-size: 18px;">{{ field.name | title }}</label>
                        <input type="{{ field.name }}" required class="form-control" name="{{ field.name }}"
                               id="id_{{ field.name }}" style="height: 40px;">
                    </div>
                {% endfor %}
                <input class="btn btn-dark" type="submit" value="LOGIN">
            </form>
        </div>

    </div>
{% endblock %}